{% extends 'orders/base.html' %}
{% load static %}
{% block title %}
Change Password
{% endblock %}

{% block body %}
<section class="home-slider owl-carousel img" style="background-image: url(static/orders/images/bg_1.jpg);">

  <div class="slider-item" style="background-image: url(static/orders/images/bg_3.jpg);">
    <div class="overlay"></div>
    <div class="container">
      <div class="row slider-text justify-content-center align-items-center">

        <div class="col-md-7 col-sm-12 text-center ftco-animate">
          <h1 class="mb-3 mt-5 bread">Change Password</h1>
          <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'index' %}">Home</a></span>
            <span class="mr-2"><a href="{% url 'account' %}">Account</a></span>
            <span>Change Password</span></p>
        </div>

      </div>
    </div>
  </div>
</section>

<section class="ftco-about d-md-flex">
  <div class="one-half img" style="background-image: url(static/orders/images/pizza-4.jpg);"></div>
  <div class="one-half ftco-animate">
    <div class="heading-section ftco-animate ">
      <h2 class="mb-4">Change Password</h2>
    </div>
    <div>
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary" type="submit">Submit</button>
      </form>

    </div>
  </div>
</section>


{% endblock %}